Project 2/Assembler/.idea/
*.qws
*/db/
*/incremental_db/
*.done
Project4/Quartus/db/
Project4/Quartus/TimerDevice.v.bak
Project4/Quartus/incremental_db/README
Project4/Quartus/stopwatch.mif
Project4/stopwatch.mif
Project4/Quartus/incremental_db/
Project4/Quartus/Debug.asm.rpt
Project4/Quartus/Debug.cdf
Project4/Quartus/Debug.eda.rpt
Project4/Quartus/Debug.fit.rpt
Project4/Quartus/Debug.fit.summary
Project4/Quartus/Debug.flow.rpt
Project4/Quartus/Debug.jdi
Project4/Quartus/Debug.map.rpt
Project4/Quartus/Debug.map.smsg
Project4/Quartus/Debug.map.summary
Project4/Quartus/Debug.pof
Project4/Quartus/Debug.sof
Project4/Quartus/Debug.sta.rpt
Project4/Quartus/Debug.sta.summary
Project4/Quartus/simulation/modelsim/Debug.vo
Project4/Quartus/simulation/modelsim/Debug_modelsim.xrf
Project 5/Quartus/db/
