Project 2/Assembler/.idea/
*.qws
*/db/
*/incremental_db/
*.done
Project4/Quartus/db/
Project4/Quartus/TimerDevice.v.bak
Project4/Quartus/incremental_db/README
Project4/Quartus/stopwatch.mif
Project4/stopwatch.mif
